extends layout
block navigation
    include ./partials/_mainHeader.pug

block content
  div.recipes-page
    h1.page-title Top Recipes
    if message.length>0
      section.flash-alert= message
    if recipes
    each recipe in recipes
      section(id=`rec_${recipe.id}`, class='recipe-card')
        div.recipe-heading
          div.vote-container
            figure.recipe-votes #{recipe.votes}
            figcaption Upvotes
          div.title-container
            h2.recipe-title(tabindex='0') !{recipe.title}
        div.info-container
          p.recipe-author
            | Recipe Author:&nbsp;
            span #{recipe.author}
          p.recipe-orientation
            | Orientation:&nbsp;
            span #{recipe.orientation}
          p.recipe-water-temp
            | Water Temp:&nbsp;
            span #{recipe.waterTemp}&#8451
          p.recipe-water-mass
            | Water Mass:&nbsp;
            span #{recipe.massWater}g
          p.recipe-coffee-mass
            | Coffee Mass:&nbsp;
            span #{recipe.massCoffee}g
          p.recipe-grind-size
            | Grind Size:&nbsp;
            span #{recipe.grind}
        details.recipe-instructions
          summary Instructions&nbsp;
            span.visually-hidden for !{recipe.title}
          p #{recipe.instructions}
        form.upvote-form(action='/allrecipes', method='post')
          input(type='hidden', value= recipe.id name='recipeID')
          button(type='submit', name='button') 👍 Upvote
            span.visually-hidden &nbsp;!{recipe.title}
  block append scripts
    if process.env.NODE_ENV == 'production'
      script(src="./js/app.min.js")
    else
      script(src="./js/app.js")
