extends layout
block navigation
    include ./partials/_mainHeader.pug

block content
  div.edit-recipe-page
    form.edit-recipe(action='index.html', method='put')
      h2 Edit Your Recipe
      label(for='title-edit') Recipe Title:
      input#title-edit(type='text', name='title', value= recipe.title)
      label(for='author-edit') Recipe Author:
      input#author-edit(type='text', name='author', value= recipe.author, required='')
      fieldset
        legend Orientation
        label(for='standard-edit') Standard
        input#standard-edit(type='radio', name='orientation', value='standard', required='', checked=recipe.orientation=='Standard')
        label(for='inverted-edit') Inverted
        input#inverted-edit(type='radio', name='orientation', value='inverted', required='', checked=recipe.orientation=='Inverted')
      fieldset
        legend Mass
        label(for='water-edit') Water (g)
        input#water-edit(type='number', name='massWater', value= recipe.massWater, required='', min="0", step=".01")
        label(for='coffee-edit') Coffee (g)
        input#coffee-edit(type='number', name='massCoffee', value= recipe.massCoffee, required='', min="0", step=".01")
      label(for='water-temp-edit') Water temperature (&#8451)
      input#water-temp-edit(type='number', name='waterTemp', value= recipe.waterTemp, required='', min="0", step=".01")
      label(for='grind-select-edit') Grind Size
      select#grind-select-edit.grind(name='grind', required='')
        option(value='Extra Coarse', selected=recipe.grind=='Extra Coarse') Extra Coarse
        option(value='Coarse', selected=recipe.grind=='Coarse') Coarse
        option(value='Medium-Coarse', selected=recipe.grind=='Medium-Coarse') Medium-Coarse
        option(value='Medium', selected=recipe.grind=='Medium') Medium
        option(value='Medium-Fine', selected=recipe.grind=='Medium-Fine') Medium-Fine
        option(value='Fine', selected=recipe.grind=='Fine') Fine
        option(value='Extra Fine', selected=recipe.grind=='Extra Fine') Extra Fine
      label(for='edit-instructions') Instructions
      textarea#edit-instructions(name='instructions', rows='8', cols='40', required='') #{recipe.instructions}
      button(type='submit', name='button') Submit Edit
      button(type='button', name='button') Delete Recipe
