extends layout
block navigation
    include ./partials/_firstHeader.pug

block content
  if recipes
  each recipe in recipes
    section(id=`rec_${recipe.id}`, class='recipe-card')
      div.recipe-heading
        div.vote-container
          figure.recipe-votes #{recipe.votes}
          figcaption Upvotes
        div.title-container
          h3.recipe-title
            a(href=`/#rec_${recipe.id}`) !{recipe.title}
      div.info-container
        p.recipe-author
          | Recipe Author:&nbsp;
          span #{recipe.author}
        p.recipe-orientation
          | Orientation:&nbsp;
          span #{recipe.orientation}
        p.recipe-water-temp
          | Water Temperature:&nbsp;
          span #{recipe.waterTemp}&#8451
        p.recipe-water-mass
          | Water Mass:&nbsp;
          span #{recipe.massWater}g
        p.recipe-coffee-mass
          | Coffee Mass:&nbsp;
          span #{recipe.massCoffee}g
        p.recipe-grind-size
          | Grind Size:&nbsp;
          span #{recipe.grind}
      details.recipe-instructions
        summary Instructions
        p #{recipe.instructions}
