extends layout
block navigation
    include ./partials/_mainHeader.pug

block content
  div.your-recipes-page
    h1.page-title My Recipes
    if recipes
    each recipe in recipes
      section.recipe-card
        div.recipe-heading
          div.vote-container
            figure.recipe-votes #{recipe.votes}
            figcaption Upvotes
          div.title-container
            h3.recipe-title(tabindex='0') !{recipe.title}
        div.info-container
          h4.recipe-author
            | Recipe Author:&nbsp;
            span #{recipe.author}
          h4.recipe-orientation
            | Orientation:&nbsp;
            span #{recipe.orientation}
          h4.recipe-water-temp
            | Water Temp:&nbsp;
            span #{recipe.waterTemp}&#8451
          h4.recipe-water-mass
            | Water Mass:&nbsp;
            span #{recipe.massWater}g
          h4.recipe-coffee-mass
            | Coffee Mass:&nbsp;
            span #{recipe.massCoffee}g
          h4.recipe-grind-size
            | Grind Size:&nbsp;
            span #{recipe.grind}
        details.recipe-instructions
          summary Instructions
          p #{recipe.instructions}
        a.edit-link(href=`/editrecipe/${recipe.id}`) ✍️ Edit Recipe
    else
      section.no-recipes Welcome! You have not submitted any recipes yet. Please submit a new recipe or check out recipes from other users.
